<div class="person">
    <div class="person__info">
        <span class="person__full-name">{{FirstName}} {{LastName}}</span>
        <span class="person__phone-number">{{PhoneNumber}}</span>
        <span class="person__city">{{City}}</span>
    </div>
    <img [src]="AvatarUrl" alt="Avatar" title="Avatar" class="person__avatar">
</div>
<app-experience class="person__experience"></app-experience>
<div style="display: flex;">
    <app-skill class="person__skill"></app-skill>
    <app-skill class="person__skill"></app-skill>
    <app-skill class="person__skill"></app-skill>
</div>