.person {
    border: 1px solid black;
    padding: 10px;
    display: flex;
    margin-bottom: 5px;
    justify-content: space-between;
}
.person__info {
    display: flex;
    flex-direction: column;
}
.person__full-name {
    font-size: x-large;
}

.person__phone-number {
    color: darkcyan;
}

.person__city {
    font-size: large;
}

.person__full-name, .person__phone-number, .person__city {
    margin-bottom: 10px;
}

.person__experience {
    margin-block: 5px;
}

.person__skill {
    margin-block: 5px;
    margin-right: 10px;
}

.person__avatar {
    width: 200px;
}